@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-background: var(--bg-color);
  --color-primary: var(--text-primary);
  --color-muted: var(--text-muted);
  --color-hud: var(--hud-border);
  --color-inverted: var(--bg-inverted);
  --color-accent: var(--theme-accent);
  --font-mono: "Space Mono", monospace;
  --font-sans: "Space Grotesk", sans-serif;
}

:root {
  --bg-color: #e5e5e5;
  --text-primary: #0a0a0a;
  --text-muted: rgba(0, 0, 0, 0.8);
  --hud-border: rgba(0, 0, 0, 0.2);
  --bg-inverted: #ffffff;
  --pattern-filter: invert(1) opacity(0.15);
  --theme-accent: var(--violet-9);
}

.dark {
  --bg-color: #0a0a0a;
  --text-primary: #ffffff;
  --text-muted: rgba(255, 255, 255, 0.8);
  --hud-border: rgba(255, 255, 255, 0.15);
  --bg-inverted: #000000;
  --pattern-filter: opacity(0.5);
  --theme-accent: var(--teal-9);
}

:root, .light, .light-theme {
  --violet-1: #fdfdff;
  --violet-2: #f8f8ff;
  --violet-3: #f0f0ff;
  --violet-4: #e5e5ff;
  --violet-5: #dad9ff;
  --violet-6: #cccaff;
  --violet-7: #b9b4ff;
  --violet-8: #9f94ff;
  --violet-9: #6e3dfd;
  --violet-10: #6134e2;
  --violet-11: #6438e6;
  --violet-12: #301b74;

  --violet-a1: #0000ff02;
  --violet-a2: #0000ff07;
  --violet-a3: #0000ff0f;
  --violet-a4: #0000ff1a;
  --violet-a5: #0700ff26;
  --violet-a6: #0a00ff35;
  --violet-a7: #1201ff4b;
  --violet-a8: #1b01ff6b;
  --violet-a9: #4100fdc2;
  --violet-a10: #3900dbcb;
  --violet-a11: #3900dfc7;
  --violet-a12: #180064e4;

  --violet-contrast: #fff;
  --violet-surface: #f6f6ffcc;
  --violet-indicator: #6e3dfd;
  --violet-track: #6e3dfd;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root, .light, .light-theme {
      --violet-1: oklch(99.4% 0.0038 285.5);
      --violet-2: oklch(98.2% 0.0131 285.5);
      --violet-3: oklch(96.2% 0.0259 285.5);
      --violet-4: oklch(93.5% 0.0528 285.5);
      --violet-5: oklch(90.4% 0.0779 285.5);
      --violet-6: oklch(86.4% 0.1015 285.5);
      --violet-7: oklch(80.7% 0.1279 285.5);
      --violet-8: oklch(72.9% 0.17 285.5);
      --violet-9: oklch(54.6% 0.2612 285.5);
      --violet-10: oklch(49.9% 0.241 285.5);
      --violet-11: oklch(50.9% 0.241 285.5);
      --violet-12: oklch(31.4% 0.1412 285.5);

      --violet-a1: color(display-p3 0.0196 0.0196 1 / 0.008);
      --violet-a2: color(display-p3 0.0235 0.0235 0.8627 / 0.028);
      --violet-a3: color(display-p3 0.0039 0.0039 0.9373 / 0.059);
      --violet-a4: color(display-p3 0.0039 0.0039 0.9255 / 0.102);
      --violet-a5: color(display-p3 0.0353 0.0078 0.9216 / 0.15);
      --violet-a6: color(display-p3 0.0392 0.0039 0.9255 / 0.208);
      --violet-a7: color(display-p3 0.0588 0.0039 0.9333 / 0.295);
      --violet-a8: color(display-p3 0.0863 0.0039 0.9373 / 0.42);
      --violet-a9: color(display-p3 0.2078 0 0.9373 / 0.753);
      --violet-a10: color(display-p3 0.1843 0 0.8118 / 0.789);
      --violet-a11: color(display-p3 0.1843 0 0.8275 / 0.773);
      --violet-a12: color(display-p3 0.0745 0 0.3647 / 0.891);

      --violet-contrast: #fff;
      --violet-surface: color(display-p3 0.9686 0.9686 1 / 0.8);
      --violet-indicator: oklch(54.6% 0.2612 285.5);
      --violet-track: oklch(54.6% 0.2612 285.5);
    }
  }
}

.dark, .dark-theme {
  --teal-1: #001416;
  --teal-2: #001e20;
  --teal-3: #002f34;
  --teal-4: #003d43;
  --teal-5: #004b52;
  --teal-6: #005c64;
  --teal-7: #006f78;
  --teal-8: #008590;
  --teal-9: #00f0ff;
  --teal-10: #00e6f5;
  --teal-11: #00d5e4;
  --teal-12: #abf9ff;

  --teal-a1: #00a2eb07;
  --teal-a2: #00d7f312;
  --teal-a3: #00dbfb27;
  --teal-a4: #00e0fc37;
  --teal-a5: #00e4fd47;
  --teal-a6: #00e8fe5a;
  --teal-a7: #00ebff6f;
  --teal-a8: #00eaff89;
  --teal-a9: #00f0ff;
  --teal-a10: #00eefef5;
  --teal-a11: #00edfee3;
  --teal-a12: #abf9ff;

  --teal-contrast: #03272a;
  --teal-surface: #002c3080;
  --teal-indicator: #00f0ff;
  --teal-track: #00f0ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --teal-1: oklch(17.3% 0.0303 202.9);
      --teal-2: oklch(21.2% 0.0372 202.9);
      --teal-3: oklch(26.9% 0.0709 202.9);
      --teal-4: oklch(31.9% 0.094 202.9);
      --teal-5: oklch(36.9% 0.1059 202.9);
      --teal-6: oklch(42.3% 0.1158 202.9);
      --teal-7: oklch(48.4% 0.1293 202.9);
      --teal-8: oklch(55.3% 0.15 202.9);
      --teal-9: oklch(87% 0.1481 202.9);
      --teal-10: oklch(83.9% 0.1481 202.9);
      --teal-11: oklch(79.3% 0.1421 202.9);
      --teal-12: oklch(93.3% 0.0766 202.9);

      --teal-a1: color(display-p3 0 0.6667 0.9686 / 0.026);
      --teal-a2: color(display-p3 0 0.8275 1 / 0.067);
      --teal-a3: color(display-p3 0.0667 0.8667 1 / 0.147);
      --teal-a4: color(display-p3 0.1765 0.8863 0.9961 / 0.21);
      --teal-a5: color(display-p3 0.251 0.898 1 / 0.272);
      --teal-a6: color(display-p3 0.3137 0.9098 1 / 0.348);
      --teal-a7: color(display-p3 0.349 0.9176 1 / 0.427);
      --teal-a8: color(display-p3 0.3725 0.9137 0.9961 / 0.528);
      --teal-a9: color(display-p3 0.4353 0.9373 1 / 0.988);
      --teal-a10: color(display-p3 0.4314 0.9373 1 / 0.946);
      --teal-a11: color(display-p3 0.4196 0.9333 1 / 0.875);
      --teal-a12: color(display-p3 0.7451 0.9765 1 / 0.992);

      --teal-contrast: #03272a;
      --teal-surface: color(display-p3 0 0.1647 0.1882 / 0.5);
      --teal-indicator: oklch(87% 0.1481 202.9);
      --teal-track: oklch(87% 0.1481 202.9);
    }
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-background);
    border-left: 1px solid #ffffff1a;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff4d;
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffffffcc;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-muted);
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    position: relative;
    cursor: crosshair;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url('/pattern.png');
    background-size: 4.6875rem;
    height:100%;
    background-repeat: repeat;
    filter: var(--pattern-filter);
    z-index: -100;
    pointer-events: none;
  }

  ::selection {
    background-color: var(--text-primary);
    color: var(--color-background);
  }
}

@utility clip-diagonal {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@utility clip-closed {
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
}

@utility clip-open {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@layer components {
  .clip-btn-brutalist {
    position: relative;
    border: none !important;
    background-color: var(--hud-border) !important;
    clip-path: polygon(100% 0, 100% 72%, 85% 100%, 0 100%, 0 0);
    z-index: 1;
  }

  .clip-btn-brutalist::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: var(--color-background);
    clip-path: polygon(100% 0, 100% 72%, 85% 100%, 0 100%, 0 0);
    z-index: -1;
    transition: background-color 0.3s ease;
  }

  .clip-btn-brutalist:hover::before {
    background-color: white;
  }

  .clip-btn-brutalist-contact {
    position: relative;
    border: none !important;
    background-color: var(--hud-border) !important;
    clip-path: polygon(100% 0, 100% 72%, 92% 100%, 0 100%, 0 0);
    z-index: 1;
  }

  .clip-btn-brutalist-contact::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: var(--color-background);
    clip-path: polygon(100% 0, 100% 72%, 92% 100%, 0 100%, 0 0);
    z-index: -1;
    transition: background-color 0.3s ease;
  }

  .clip-btn-brutalist-contact:hover::before {
    background-color: white;
  }

  .bracket-btn {
    position: relative;
    padding: 0.25em 0.8em;
    border: 2px solid var(--hud-border); /* robust standard border */
    background: transparent;
    user-select: none;
    white-space: nowrap;
    transition: all .05s linear;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
  }

  .bracket-btn::before, .bracket-btn::after {
    content: "";
    position: absolute;
    background: var(--color-background);
    transition: all .2s linear;
  }

  .bracket-btn::before {
    width: calc(100% + 6px);
    height: calc(100% - 0.9em);
    top: 0.45em;
    left: -3px;
    z-index: 1;
  }

  .bracket-btn::after {
    width: calc(100% - 1em);
    height: calc(100% + 6px);
    top: -3px;
    left: 0.5em;
    z-index: 1;
  }

  .bracket-btn:hover {
    cursor: crosshair;
    color: var(--color-primary);
  }

  .bracket-btn:active {
    transform: scale(0.95);
  }

  .bracket-btn > * {
    z-index: 3;
    position: relative;
    font-family: inherit;
    font-weight: inherit;
  }

  @keyframes blink {
    0%, 49% { opacity: 1; }
    50%, 100% { opacity: 0; }
  }

  .terminal-cursor {
    animation: blink 1s step-end infinite;
  }
}
